3d_visualizations/*
trained_on_50/*
trained_on_full/*
__pycache__/*
website_output/*


Voxel-R-CNN/data/*
Voxel-R-CNN/build/*
Voxel-R-CNN/output/*

oneshot/data/*
oneshot/COCO_dataset/*
oneshot/One-Shot-Object-Detection/test_img/*

oneshot_voxelrcnn/build/*
oneshot_voxelrcnn/data/*
oneshot_voxelrcnn/output/*

spconv/*

oneshot/One-Shot-Object-Detection/lib/models/res50/coco/*
oneshot/One-Shot-Object-Detection/lib/build/*
oneshot/One-Shot-Object-Detection/lib/datasets/__pycache__/*
oneshot/One-Shot-Object-Detection/output*
